.page-header
  %h1 My friends

= render 'friends/lookup'

- if @friends.any?
  .row
    .col-sm-10
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th Name
            %th Email
            %th Actions
        %tbody
          - @friends.each do |friend|
            %tr
              %td= friend.full_name
              %td= friend.email
              %td
                = link_to 'View profile', friend, class: 'btn btn-primary btn-xs'
                = link_to 'Remove friend', friendship_path(friend), method: :delete, data:{ confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
- else
  .row
    %p.lead You don't have any friends yet, why not add some?
